- import quickstart.action._

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCss
    
    meta(content="text/html; charset=utf-8" http-equiv="content-type")
      title Xitrum-React
      link(rel="shortcut icon" href={publicUrl("favicon.ico")})
    != currentAction.asInstanceOf[ReactIndex].propsForView
  body
    div#content
      != at("react")
    pre= at("react")
    != jsDefaults
    != jsForView
    script(src={publicUrl("bundle.js")})