- import quickstart.action._

!!! 5
html
  head    
    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Xitrum-React
    != currentAction.asInstanceOf[ReactIndex].propsForReact
  body
    ! <div id="content">#{currentAction.asInstanceOf[ReactIndex].reactForView}</div>
    
    hr
    h3 Server rendered html(See also web console)
    pre
      = currentAction.asInstanceOf[ReactIndex].reactForView.split(">").mkString(">\n")
    script(src={publicUrl("bundle.js")})
